.image-card{
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: 100%;
    padding:4px;
    background-color: white ;
  }
  
  .card-title{
    font-size: 25px;
  }
  
  .card-content-text{
    font-size: 18px;
  }
  