.card{
    min-height: 180px;
  }
  .footer-hyperlink{
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
  }
  .spinner{
    margin-top: 50px;
    text-align: center;
  }
  